.create {
    background-image: url(../Images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100%;
    width: 100%;
    position: fixed;
}

.tittle {
    font-size: 6em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1em;

}

.createpoke {
    font-size: 30px;
    margin-right:2%;
    text-shadow: 0px 0px 05px black;
    margin-left: 700px;
}

.form1 {
    padding-right: 30px;
}

.input {
    width: 300px;
    height: 25px;
}

.error {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 05px rgb(255, 0, 0);
}

.dots {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    border-radius: 4px;

}

.lettersB {
    font-size: 25px;  
    background-color: rgb(122, 119, 119);
    margin-right: 40px;
    cursor: pointer;
    margin-bottom: 120px;
    border-radius: 4px;
}

.check {
    font-size: 35px;
}

.box {
    padding: 20px;
    width: 2%;
}

.box:hover {
    color: green;
}
